# Everything ignored by default - files must be explicitly NOT ignored
*

# Root
!.github/workflows/docs.yml
!.github/workflows/tests.yml
!.gitignore
!LICENSE
!MANIFEST.IN
!README.md
!mkdocs.yml
!pyproject.toml
!requirements.txt
!.pre-commit-config.yaml

# Documentation
!docs/
!docs/getting_started.md
!docs/index.md
!docs/installation.md
!docs/name_manipulation.md
!docs/reference.md
!docs/resolvers.md
!docs/smiles_selection.md
!docs/stylesheets/extra.css

# Source Code
!cholla_chem/
!cholla_chem/__init__.py
!cholla_chem/datafiles/
!cholla_chem/datafiles/__init__.py
!cholla_chem/datafiles/chemical_name_tokens.json
!cholla_chem/datafiles/name_dicts/
!cholla_chem/datafiles/name_dicts/__init__.py
!cholla_chem/datafiles/name_dicts/manual_name_dict.json
!cholla_chem/main.py
!cholla_chem/name_manipulation/
!cholla_chem/name_manipulation/__init__.py
!cholla_chem/name_manipulation/manipulate_names.py
!cholla_chem/name_manipulation/name_correction/
!cholla_chem/name_manipulation/name_correction/__init__.py
!cholla_chem/name_manipulation/name_correction/correction_strategies.py
!cholla_chem/name_manipulation/name_correction/dataclasses.py
!cholla_chem/name_manipulation/name_correction/name_corrector.py
!cholla_chem/name_manipulation/name_correction/regexes.py
!cholla_chem/name_manipulation/name_correction/scoring.py
!cholla_chem/name_manipulation/name_correction/validators.py
!cholla_chem/name_manipulation/peptide_shorthand_handler.py
!cholla_chem/name_manipulation/split_names.py
!cholla_chem/name_manipulation/unicode_normalization.py
!cholla_chem/resolvers/
!cholla_chem/resolvers/__init__.py
!cholla_chem/resolvers/chemspipy_resolver.py
!cholla_chem/resolvers/cirpy_resolver.py
!cholla_chem/resolvers/inorganic_resolver/
!cholla_chem/resolvers/inorganic_resolver/__init__.py
!cholla_chem/resolvers/inorganic_resolver/inorganic_resolver.py
!cholla_chem/resolvers/inorganic_resolver/inorganic_resolver_tokens.py
!cholla_chem/resolvers/manual_resolver.py
!cholla_chem/resolvers/opsin_resolver.py
!cholla_chem/resolvers/pubchem_resolver.py
!cholla_chem/resolvers/strutural_formula_resolver/
!cholla_chem/resolvers/strutural_formula_resolver/__init__.py
!cholla_chem/resolvers/strutural_formula_resolver/structural_formula_resolver.py
!cholla_chem/smiles_selector.py
!cholla_chem/utils/
!cholla_chem/utils/__init__.py
!cholla_chem/utils/chem_utils.py
!cholla_chem/utils/constants.py
!cholla_chem/utils/logging_config.py
!cholla_chem/utils/string_utils.py

# Tests
!tests/
!tests/test_chemspipy_resolver.py
!tests/test_cirpy_resolver.py
!tests/test_main.py
!tests/test_manual_resolver.py
!tests/test_opsin_resolver.py
!tests/test_pubchem_resolver.py
!tests/test_smiles_selector.py
!tests/test_split_name_name_manipulation.py