site_name: placeholder_name
site_description: Convert chemical names to SMILES
repo_url: https://github.com/denovochem/name_to_smiles
repo_name: denovochem/name_to_smiles

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.sections
    - navigation.expand
    - search.suggest

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google  # or numpy, sphinx
            show_source: true
            show_root_heading: true

nav:
  - Home: index.md
  - Installation: installation.md
  - Getting Started: getting_started.md
  - Resolvers: resolvers.md
  - Smiles Selection: smiles_selection.md
  - Name Correction/Editing: name_manipulation.md
  - API Reference: reference.md

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - codehilite

extra_css:
  - stylesheets/extra.css